<div class="property-header d-flex justify-content-between align-item-center">
    <div class="property-header__info d-sm-flex align-item-center">
        <a class="me-036" href="#">
            <img src="../img/Frame 39.png" alt="">
        </a>
        <div class="walktrough-header__breadcrumbs d-flex align-item-center">
            <div class="property-header__breadcrumbs__main fw-500 text-regular">Property List</div>
            <div class="property-header__breadcrumbs__other fw-500 text-regular text-grey">Add new property</div>
        </div>
    </div>
    <div class="property-header__close"></div>
</div>