
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}
.fw-600 {
    font-weight: 600;
}
.fw-700 {
    font-weight: 700;
}




.mt-02 {
    margin-top: 0.125rem;
}

.me-02 {
    margin-right: 0.125rem;
}

.mb-02 {
    margin-bottom: 0.125rem;
}

.ms-02 {
    margin-left: 0.125rem;
}

.mx-02 {
    margin-left: 0.125rem;
    margin-right: 0.125rem;
}

.my-02 {
    margin-top: 0.125rem;
    margin-bottom: 0.125rem;
}


.mt-06 {
    margin-top: 0.375rem;
}

.me-06 {
    margin-right: 0.375rem;
}

.mb-06 {
    margin-bottom: 0.375rem;
}

.ms-06 {
    margin-left: 0.375rem;
}

.mx-06 {
    margin-left: 0.375rem;
    margin-right: 0.375rem;
}

.my-06 {
    margin-top: 0.375rem;
    margin-bottom: 0.375rem;
}



.mt-010 {
    margin-top: 0.625rem;
}

.me-010 {
    margin-right: 0.625rem;
}

.mb-010 {
    margin-bottom: 0.625rem;
}

.ms-010 {
    margin-left: 0.625rem;
}

.mx-010 {
    margin-left: 0.625rem;
    margin-right: 0.625rem;
}

.my-010 {
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
}


.mt-012 {
    margin-top: 0.75rem;
}

.me-012 {
    margin-right: 0.75rem;
}

.mb-012 {
    margin-bottom: 0.75rem;
}

.ms-012 {
    margin-left: 0.75rem;
}

.mx-012 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.my-012 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}



.mt-014 {
    margin-top: 0.875rem;
}

.me-014 {
    margin-right: 0.875rem;
}

.mb-014 {
    margin-bottom: 0.875rem;
}

.ms-014 {
    margin-left: 0.875rem;
}

.mx-014 {
    margin-left: 0.875rem;
    margin-right: 0.875rem;
}

.my-014 {
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
}



.mt-020 {
    margin-top: 1.25rem;
}

.me-020 {
    margin-right: 1.25rem;
}

.mb-020 {
    margin-bottom: 1.25rem;
}

.ms-020 {
    margin-left: 1.25rem;
}

.mx-020 {
    margin-left: 1.25rem;
    margin-right: 1.25rem;
}

.my-020 {
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.mt-032 {
    margin-top: 2rem;
}

.me-032 {
    margin-right: 2rem;
}

.mb-032 {
    margin-bottom: 2rem;
}

.ms-032 {
    margin-left: 2rem;
}

.mx-032 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.my-032 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}



.mt-036 {
    margin-top: 2.25rem;
}

.me-036 {
    margin-right: 2.25rem;
}

.mb-036 {
    margin-bottom: 2.25rem;
}

.ms-036 {
    margin-left: 2.25rem;
}

.mx-036 {
    margin-left: 2.25rem;
    margin-right: 2.25rem;
}

.my-036 {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}



.pt-02 {
    padding-top: 0.125rem;
}

.pe-02 {
    padding-right: 0.125rem;
}

.pb-02 {
    padding-bottom: 0.125rem;
}

.ps-02 {
    padding-left: 0.125rem;
}

.px-02 {
    padding-left: 0.125rem;
    padding-right: 0.125rem;
}

.py-02 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}


.mt-06 {
    padding-top: 0.375rem;
}

.me-06 {
    padding-right: 0.375rem;
}

.mb-06 {
    padding-bottom: 0.375rem;
}

.ms-06 {
    padding-left: 0.375rem;
}

.mx-06 {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.my-06 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}


.pt-010 {
    padding-top: 0.625rem;
}

.pe-010 {
    padding-right: 0.625rem;
}

.pb-010 {
    padding-bottom: 0.625rem;
}

.ps-010 {
    padding-left: 0.625rem;
}

.px-010 {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
}

.py-010 {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}



.pt-012 {
    padding-top: 0.75rem;
}

.pe-012 {
    padding-right: 0.75rem;
}

.pb-012 {
    padding-bottom: 0.75rem;
}

.ps-012 {
    padding-left: 0.75rem;
}

.px-012 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.py-012 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}



.pt-014 {
    padding-top: 0.875rem;
}

.pe-014 {
    padding-right: 0.875rem;
}

.pb-014 {
    padding-bottom: 0.875rem;
}

.ps-014 {
    padding-left: 0.875rem;
}

.px-014 {
    padding-left: 0.875rem;
    padding-right: 0.875rem;
}

.py-014 {
    padding-top: 0.875rem;
    padding-bottom: 0.875rem;
}



.pt-020 {
    padding-top: 1.25rem;
}

.pe-020 {
    padding-right: 1.25rem;
}

.pb-020 {
    padding-bottom: 1.25rem;
}

.ps-020 {
    padding-left: 1.25rem;
}

.px-020 {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.py-020 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}



.pt-032 {
    padding-top: 2rem;
}

.pe-032 {
    padding-right: 2rem;
}

.pb-032 {
    padding-bottom: 2rem;
}

.ps-032 {
    padding-left: 2rem;
}

.px-032 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-032 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}



.pt-036 {
    padding-top: 2.25rem;
}

.pe-036 {
    padding-right: 2.25rem;
}

.pb-036 {
    padding-bottom: 2.25rem;
}

.ps-036 {
    padding-left: 2.25rem;
}

.px-036 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

.py-036 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
}



