@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 200;
  font-style: normal;
  src:  url("../../fonts/PlusJakartaSans-ExtraLight.woff2") format('woff2'),
        url("../../fonts/PlusJakartaSans-ExtraLight.woff") format('woff'),
        url("../../fonts/PlusJakartaSans-ExtraLight.ttf") format('ttf');
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 300;
  font-style: normal;
  src:  url("../../fonts/PlusJakartaSans-Light.woff2") format('woff2'),
        url("../../fonts/PlusJakartaSans-Light.woff") format('woff'),
        url("../../fonts/PlusJakartaSans-Light.ttf") format('ttf');
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 400;
  font-style: normal;
  src:  url("../../fonts/PlusJakartaSans-Regular.woff2") format('woff2'),
        url("../../fonts/PlusJakartaSans-Regular.woff") format('woff'),
        url("../../fonts/PlusJakartaSans-Regular.ttf") format('ttf');
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  font-style: normal;
  src:  url("../../fonts/PlusJakartaSans-Medium.woff2") format('woff2'),
        url("../../fonts/PlusJakartaSans-Medium.woff") format('woff'),
        url("../../fonts/PlusJakartaSans-Medium.ttf") format('ttf');
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
  font-style: normal;
  src:  url("../../fonts/PlusJakartaSans-SemiBold.woff2") format('woff2'),
        url("../../fonts/PlusJakartaSans-SemiBold.woff") format('woff'),
        url("../../fonts/PlusJakartaSans-SemiBold.ttf") format('ttf');
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 700;
  font-style: normal;
  src:  url("../../fonts/PlusJakartaSans-Bold.woff2") format('woff2'),
        url("../../fonts/PlusJakartaSans-Bold.woff") format('woff'),
        url("../../fonts/PlusJakartaSans-Bold.ttf") format('ttf');
  font-display: swap;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
  font-style: normal;
  src:  url("../../fonts/PlusJakartaSans-ExtraBold.woff2") format('woff2'),
        url("../../fonts/PlusJakartaSans-ExtraBold.woff") format('woff'),
        url("../../fonts/PlusJakartaSans-ExtraBold.ttf") format('ttf');
  font-display: swap;
}

