
    // Color

$white: #fff;
$black: #111315;
$body_gray: #F7F8FA;
$background-gray:#F7F8FA;
$grey01: #888FA2;
$grey02: #F6F6F6;
$grey03: #E0E2E7;
$grey04: #94A5B9;
$grey05: #878787;
$grey06: #E7E7E8;
$grey07: #E5E5E5;
$grey08: #EEEEF1;
$grey09: #EFEFEF;
$green: #04AA6A;
$green01: #C3FEE7;
$green02: #3BBB8A;
$green03: #EBF8F3;
$blue: #3C76E6;
$blue02: #2F3452;
$blue03: #112C4A;
$blue04: #D2DFF9;
$orange: #FD7B5C;
$navy: #183D67;
$red: #E26061;
$peach: #FFF6F4;
$grape: #D8DBE9;
$yellow: #FFEAC2;
$text-grape: #6673A8;
$text-yellow: #FF9921;
$text-blue04: #3C76E6;

                 
