.header {
    width: 100%;
    height: 72px;
    background-color: $white;

    @media screen and (max-width: 992px) {
        height: fit-content;
        padding: 15px 5px;
    }
    
    &__title {
        padding-top: auto;
        font-weight: bold;
    }

    .header-search {
        width: 100%;
    }

    form {
        position: relative;
    }
    input {
        height: 40px;
        border-radius: 10px;
        &::placeholder {
            color: $grey05;
            opacity: 1;
        }  
    }
    .search__button {
        border-radius: 10px;
        border: none;
        position: absolute;
        right: 16px;
        top: 4px;

        &__img {
            padding: 8px 9px;
        }
    }

    &__plus {
        min-height: 40px;
        min-width: 40px;
        background-color: $orange;
        border: none;
        border-radius: 100%;
        position: relative;
        &::before, &::after {
            position: absolute;
            content:'';
            width: 18px;
            height: 2px;
            background-color:$white;
            border-radius:2px;
        }
        &::after {
            transform: rotate(90deg);
        }
    }
    &__notification {
        min-height: 40px;
        min-width: 40px;
        border-radius: 100%;
        background-color: transparent;
        border: 1px $grey06 solid;
        position: relative;
        &::after {
            content: '';
            height: 8px;
            width: 8px;
            border-radius: 100%;
            background-color: $red;
            position: absolute;
            right: 9px;
            top: 8px;
        }

        &__img {
            padding: 9px 12px;
        }
    }
    &__dropdown {
        min-width: 136px;
        min-height: 40px;
        border: 1px $grey06 solid;
        border-radius: 20px;
        cursor: pointer;
        img {
            width: 24px;
            height: 24px;
            border-radius: 100%;
        }
        p {
            font-weight: 500;
        }
    }
    &__arrow {
        border: solid $grey05;
        border-width: 0 2px 2px 0;
        padding: 2.8px;
        transform: rotate(45deg);
        margin-bottom: 5px;
    }
}